{% extends '@layout/default.html.twig' %}

{% block title %}Teste{% endblock %}

{% block content %}
    <h2 class="text-center">Lista de clientes</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
        </tr>
        </thead>

        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}